.flex-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 120px;
}

.flex-menu h3{
    margin-right: 4rem;
}

#navbar ul li a{
    padding: 5px 10px;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    font-size: 12px;
    overflow:unset;
    height: 50%;
    width: 100%;
}

.define{
    display: none;
}

/* .column .column-1{
    display: none;
}
.row{
    display: block;
} */

.row .column{
    flex: 100%;
    max-width: 100%;
}

.services-content{
    display: block;
    padding-bottom: 10px;
}

.form-section .btn{
    margin-bottom: 15px;
}