@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
/* Default Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Tajawal', sans-serif;
}

.text-primary {
    color: #f7a08a;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.bg-light {
    background-color: #ddd;
}

/* Home & Header Styling */

.home {
    background: url('336-3369684_home-web-design-education-website-background.png') no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.flex-menu {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-menu h3 {
    color: #fff;
    font-size: 23px;
    padding: 15px 10px;
    margin-left: 5rem;
}

#navbar ul {
    display: flex;
    padding: 20px 20px;
}

#navbar ul li a {
    padding: 10px 20px;
    color: #fff;
}

#navbar ul li a:hover {
    color: #ddd;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    height: 50%;
    padding-top: 100px;
    overflow: hidden;
}

.home-content h4 {
    margin: 5px 0;
}

.home-content h2 {
    font-size: 30px;
    margin: 5px 0;
}

.home-content p {
    padding: 5px 40%;
    color: #fff;
}

/* About Styling */

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-shrink: 100%;
    flex: 1;
}

.column .column-1, .column .column-2 {
    height: 100%;
}

.column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.column .column-2 h2 {
    margin: 5px;
}

.column .column-2 h4 {
    margin: 5px;
    font-size: 23px;
}

.column .column-2 p {
    padding: 0 5px;
}

.column .column-2 a {
    margin: 35px 10px;
    padding: 10px 30px;
    border: 1px solid #f7a08a;
    border-radius: 10px;
    transition: all 0.4s ease-in;
}

.column .column-2 a:hover {
    background-color: #f7a08a;
    color: #fff;
}

/* Services Styling */

.services-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    margin: 30px 0;
}

.services-content .box i {
    padding: 10px 0;
    color: #288000;
}

.services-content .box h4 {
    font-size: 20px;
    padding: 5px 0;
    font-weight: bold;
}

.services-content .box p {
    padding: 5px 10px;
}
/* Contact Us */
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

.form-section { 
    width: 100%;
}

.form-section .form-group label{
    display: block;
}

.form-group input{
    outline-color: skyblue;
    height: 26px;
    width: 100%;
}

.form-section .form-group textarea{
    outline-color: skyblue;
    display: block;
    width: 100%;
    height: 200px;
}

.form-section .btn{
    margin-top: 10px;
    border: 1px solid #333;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #ddd;
    cursor: pointer;
}
/* footer */
.footer{
    padding: 20px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer .social i{
    color: #fff;
    margin: 20px 20px;
}